:host {
    --content-bg-color: #ffffff;
    --bg-color: #BDBDBD;
    --font-black: #212121;;
    --font-weight: 400;
    --font-weight-selected: 400;
    display: block;
}

@function v($var) {
    @return var(--#{$var});
}

@mixin tab-disable {
    font-weight: v(font-weight);
    color: gray;
}

@mixin tab-heading {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: v(font-weight);
    color: v(font-black);
}

.wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;

    &[data-tab-position="left"] {
        flex-direction: row;

        .tabs {
            border-radius: 4px 0 0 4px;
            padding: 5px 0 5px 10px;
            flex-flow: column;

            .tab-btn {
                border-radius: 5px 0 0 5px;
                padding: 5px 10px 5px 5px;

                &:hover:not([data-disabled="true"]):not([data-selected="true"]) {
                    background: #e0e0e0;
                    border-radius: 5px 0 0 5px;
                }

                &:not(:last-of-type) {
                    margin: 0 0 1em 0;
                }
            }
        }
    }

    &[data-tab-position="top"] {
        .tabs {
            border-radius: 4px 4px 0 0;
            padding: 10px 5px 0 5px;

            .tab-btn {
                border-radius: 5px 5px 0 0;
                padding: 5px 5px 10px 5px;

                &:hover:not([data-disabled="true"]):not([data-selected="true"]) {
                    border-radius: 5px 5px 0 0;
                }

                &:not(:last-of-type) {
                    margin: 0 1em 0 0;
                }
            }
        }
    }

    &[data-tab-position="right"] {
        flex-direction: row-reverse;
        .tabs {
            flex-flow: column;
        }
    }
}



.tabs {
    display: flex;
    flex-flow: row;
    background: #bdbdbd;
    padding: 10px 5px 0 5px;
    border-radius: 4px 4px 0 0;
}

.tab-btn {
    @include tab-heading;
    padding: 5px 5px 10px 5px;
    cursor: pointer;

    &:hover:not([data-disabled="true"]):not([data-selected="true"]) {
        background: #e0e0e0;
    }

    &[data-selected="true"] {
        font-weight: v(font-weight-selected);
        background: v(content-bg-color);
        white-space: nowrap;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
    }

    &[data-disabled="true"] {
        @include tab-disable;
    }
}


.pages {
    width: inherit;
    height: inherit;
}

::slotted(.page) {
    display: none;
    height: inherit;
    background: v(content-bg-color);
}


::slotted(.page[data-visible="true"]) {
    display: block;
}
